<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
       <div class="row">
          <div class="main-header">
             <h4>Companies</h4>
          </div>
       </div>

       <!-- 2-1 block start -->
       <div class="row">
          <div class="col-xl-12 col-lg-12">
             <div class="card">
                <div class="card-block">
                   <div class="table-responsive">
                      <table class="table m-b-0 photo-table">
                         <thead>
                            <tr class="text-uppercase">
                               <th>Photo</th>
                               <th>Name</th>
                               <th></th>
                               <th>Phone</th>
                               <th></th>
                               <th>Cantact</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr *ngFor="let j of JobSeekers" >
                               <th type="submit" routerLink="/PublicProfile/{{j.jobSeekerId}}/{{j.role}}">
                                  <img class="img-fluid img-circle" src="{{j.picture}}" alt="User">
                               </th>
                               <td>{{j.firstName}} {{j.lastName}}
                                  <p><i class="icofont icofont-clock-time"></i>{{j.jobTitle}}</p>
                               </td>
                               <td>
                                  <p></p>
                               </td>
                               <td>{{j.phone}}</td>
                               <td></td>
                               <td  type="submit">&#9993;{{j.email}}</td>
                            </tr>

                         </tbody>
                      </table>
                   </div>
                </div>
             </div>
          </div>

       </div>
       <!-- 2-1 block end -->
    </div>
    <!-- Main content ends -->
    <!-- Container-fluid ends -->
 </div>
